<div class="navbar-wagon">
  <div class="searchbar navbar-wagon-item">
    <input type="text" id="search-input">
    <div id="search-button">
      <%= material_icon.search.md_36 %>
    </div>
  </div>
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "aries-symbol.svg", height: 36 %>
  <% end %>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <%= link_to new_memory_path, class: 'navbar-wagon-link', id: 'add-memory',
      data: { target_url: new_memory_url } do %>
      <%= material_icon.add.md_48 %>
    <% end %>
  </div>
</div>

