<div class="container padded">
  <%= simple_form_for @memory do |f| %>
    <%= f.input :title %>
    <!-- TODO nested attributes for contacts -->
    <%= f.input :photo %>
    <%= f.input :address %>
    <%= f.submit "Save", class: "btn btn-default" %>
  <% end %>
</div>
