<div class="camera">
  <video id="video">Video stream not available.</video>
</div>
<canvas id="canvas">
</canvas>
<div class="output">
  <img class="hidden" id="photo" alt="The screen capture will appear in this box.">
</div>
<div class="text-center" id="startbutton"><%= material_icon.photo_camera.md_36 %></div>
<div class="container padded">
  <%= simple_form_for @memory do |f| %>
    <%= f.input :title %>
    <!-- TODO nested attributes for contacts -->
    <%= f.input :photo, as: :hidden %>
    <%#= f.input :photo, input_html: { class: 'hidden' },
      label_html: { class: 'hidden btn btn-primary',
                    id: 'add-photo-button' },
      label: 'Add photo' %>
    <%= f.input :address, input_html: { value: @address } %>
    <%= f.submit "Save", class: "btn btn-default" %>
  <% end %>
</div>
<% if @marker %>
  <div id="card-map"
    style="height: 300px;width:100%"
    data-markers="<%= @marker.to_json %>">
  </div>
<% end %>

<% content_for :after_js do %>
  <%= javascript_pack_tag 'map' %>
  <%= javascript_pack_tag 'camera' %>
<% end %>
