<div class="card">
  <div class="card-image-box">
    <% if @memory.photo.present? %>
      <%= cl_image_tag @memory.photo, class: "card-image" %>
    <% else %>
      <%= image_tag 'Notre_Dame_de_Paris.jpg', class: "card-image" %>
    <% end %>
    <div class="card-share">
      <i class="fa fa-share"></i>
    </div>
  </div>
  <div class="card-content">
    <div class="card-contacts">
      <% @memory.contacts.each do |contact| %>
        <div class="card-contact">
          <%= image_tag 'melissa_avatar.png', class: "card-contact-avatar" %>
          <div class="card-contact-name">
            <%= contact.name %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card-description">
      <%= @memory.title %>
    </div>
  </div>
  <% unless (@memory.latitude.nil? || @memory.latitude.nil?) %>
    <div id="card-map"
      style="height: 300px;"
      data-markers="<%= @marker.to_json %>">
    </div>
  <% end %>
</div>
