<%= render 'shared/facebook_share' %>

<div class="card">
  <% unless @memory.photo.present? %>
    <div class="card-image-box">
      <%= cl_image_tag @memory.photo_url, class: "card-image" %>
      <div class="card-share">
        <span href='#'
           data-title="Share your memory"
           data-text="<%= @memory.title %>"
           data-url="<%= memory_url(@memory) %>"
           data-container="body"
           data-toggle="popover"
           data-placement="bottom"
           data-html=true
           data-content='<%= render "memories/share_popover", memory: @memory %>'>
          <i class="mdi mdi-share-variant mdi-24px" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  <% end %>
  <div class="card-content">
    <%= @memory.title %>
  </div>
  <% unless (@memory.latitude.nil? || @memory.latitude.nil?) %>
    <div id="card-map"
      style="height: 300px;"
      data-markers="<%= @marker.to_json %>">
    </div>
  <% end %>
</div>

