<div class="card">
  <div class="card-image-box">
    <% if @memory.photo.present? %>
      <%= cl_image_tag @memory.photo, class: "card-image" %>
    <% end %>
  </div>
  <div class="card-content">
    <div class="card-description">
      <h1><%= @memory.title %></h1>
    </div>
    <div class="card-share"
         data-title="I share my memory with you on RAM"
         data-text="<%= @memory.title %>"
         data-url="<%= memory_url(@memory) %>">
      <%= material_icon.share_variant %>
    </div>
  </div>
  <% unless (@memory.latitude.nil? || @memory.latitude.nil?) %>
    <div id="card-map"
      style="height: 300px;"
      data-markers="<%= @marker.to_json %>">
    </div>
  <% end %>
</div>
